@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin-top: 15rem;
  align-items: center;
  min-height: 50vh;
}

img {
  max-width: 250px;
}

#popover-basic {
  position: fixed !important;
  transform: translate3d(100.5px) !important;

}
